h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
a {
  color: aquamarine;
  font-size: 16px;
  font-weight: normal;
}
body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
#guide, #announcement {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
#summary {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
#copyright {
  text-align: right;
  color: gray;
  font-size: 21px;
}
